# Dictionary

In [1]:
d={'Ranjana':'Redmi', 'Hari':'Lenovo', 'Vijay':'Oppo', 'Arun':'Vivo'}

In [2]:
d

{'Ranjana': 'Redmi', 'Hari': 'Lenovo', 'Vijay': 'Oppo', 'Arun': 'Vivo'}

In [3]:
d.keys()

dict_keys(['Ranjana', 'Hari', 'Vijay', 'Arun'])

In [4]:
d.values()

dict_values(['Redmi', 'Lenovo', 'Oppo', 'Vivo'])

In [5]:
d['Ranjana']

'Redmi'

In [6]:
d['Hari']

'Lenovo'

In [7]:
d['Arun']

'Vivo'

In [8]:
d['Ranjana']

'Redmi'

In [9]:
d1={}
d1[1001]='Ranjana'
d1[1002]='Hari'
d1[1003]='Ram'
d1[1004]='Shivesh'

In [10]:
d1

{1001: 'Ranjana', 1002: 'Hari', 1003: 'Ram', 1004: 'Shivesh'}

In [27]:
 for key, value in d1.items():                          ## Call Using "For" loop
    print('Roll No=',key, "Name=", value)

Roll No= 1001 Name= Ranjana
Roll No= 1002 Name= Hari
Roll No= 1003 Name= Ram
Roll No= 1004 Name= Shivesh
Roll No= 1005 Name= Komal

In [12]:
d1['1005']='Komal'

In [13]:
d1

{1001: 'Ranjana', 1002: 'Hari', 1003: 'Ram', 1004: 'Shivesh', '1005': 'Komal'}

In [14]:
for key, value in d1.items():
    print('Roll No=',key, "Name=", value)

Roll No= 1001 Name= Ranjana
Roll No= 1002 Name= Hari
Roll No= 1003 Name= Ram
Roll No= 1004 Name= Shivesh
Roll No= 1005 Name= Komal

In [44]:
rec={'name':{'first':'Ranjana','last':'Bhardwaj'},            ## Nested Dictionary
     'jobs':['manager', 'developer'],                   
     'age': 25,
     'phone': 6398493890}

In [45]:
rec

{'name': {'first': 'Ranjana', 'last': 'Bhardwaj'},
 'jobs': ['manager', 'developer'],
 'age': 25,
 'phone': 6398493890}

In [18]:
rec['name']                                        ## 'Name' is a nested Dictionary

{'first': 'Ranjana', 'last': 'Bhardwaj'}

In [20]:
rec['jobs']                                     ## 'Job' is a nested list

['manager', 'developer']

In [21]:
rec['age']

25

In [46]:
rec['phone']

6398493890

In [23]:
rec['name']['last']

'Bhardwaj'

In [25]:
rec['name']['first']

'Ranjana'

In [26]:
rec['age']

25

In [37]:
d2={'name':'Harry Bhardwaj', 'des':'Data Analyst','phone':7206693538}

In [28]:
55+55

110

In [30]:
a=55
b=90
c=a+b

In [31]:
c

145

In [38]:
d2

{'name': 'Harry Bhardwaj', 'des': 'Data Analyst', 'phone': 7206693538}

In [39]:
d2['name']

'Harry Bhardwaj'

In [40]:
d2['phone']

7206693538

In [42]:
d2['des']

'Data Analyst'

In [47]:
di={'a':1, 'b':2, 'c':3}

In [48]:
di

{'a': 1, 'b': 2, 'c': 3}

In [49]:
di['e']=45

In [50]:
di

{'a': 1, 'b': 2, 'c': 3, 'e': 45}

In [51]:
di['f']

KeyError: 'f'

In [53]:
'f' in di

False

In [54]:
'a' in di

True

In [56]:
if not 'f' in di:
    print("Missing")

Missing

In [57]:
di.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('e', 45)])

In [61]:
di.values()

dict_values([1, 2, 3, 45])

In [58]:
d.items()

dict_items([('Ranjana', 'Redmi'), ('Hari', 'Lenovo'), ('Vijay', 'Oppo'), ('Arun', 'Vivo')])

In [62]:
d.values()

dict_values(['Redmi', 'Lenovo', 'Oppo', 'Vivo'])

In [60]:
d1.items()

dict_items([(1001, 'Ranjana'), (1002, 'Hari'), (1003, 'Ram'), (1004, 'Shivesh'), ('1005', 'Komal')])

In [63]:
d1.values()

dict_values(['Ranjana', 'Hari', 'Ram', 'Shivesh', 'Komal'])

In [64]:
rec

{'name': {'first': 'Ranjana', 'last': 'Bhardwaj'},
 'jobs': ['manager', 'developer'],
 'age': 25,
 'phone': 6398493890}

In [66]:
rec.items()

dict_items([('name', {'first': 'Ranjana', 'last': 'Bhardwaj'}), ('jobs', ['manager', 'developer']), ('age', 25), ('phone', 6398493890)])

In [67]:
rec.values()

dict_values([{'first': 'Ranjana', 'last': 'Bhardwaj'}, ['manager', 'developer'], 25, 6398493890])

In [68]:
rec.get('name')

{'first': 'Ranjana', 'last': 'Bhardwaj'}

In [69]:
rec.get('phone')

6398493890

In [71]:
di.pop('a')

1

In [72]:
di

{'b': 2, 'c': 3, 'e': 45}

In [73]:
[0]*5

[0, 0, 0, 0, 0]