
# For loop

In [53]:
sum=0
for i in [1,2,3,4]:
    sum=sum+i
print("Sum:",sum)

Sum: 10

In [54]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
name= 'Ranjana Bhardwaj'
status=("I'm","okay")
for i in name:
    print(i, end="")
print()
for x in status:
    print(x,end=" ")

Ranjana Bhardwaj
I'm okay

In [5]:
list=['Harry', 'Loves', 'Ranjana']      # For loop Example
for i in list:
    print(i)

Harry
Loves
Ranjana

In [6]:
x='Ranjana Bhardwaj'
for i in x:
    print(i)

R
a
n
j
a
n
a

B
h
a
r
d
w
a
j

In [7]:
for i in ['Ranjana Bhardwaj']:
    print(i, end="")

Ranjana Bhardwaj

In [8]:
for i in ['Ranjana ', 'Birth ', 'Date ', 'is ', 8 ,' July']:
    print(i, end='')
print()
print(len(i))

Ranjana Birth Date is 8 July
5

In [10]:
for i in range(5):    ## print 0 to 4 using ' Range ' function
    print(i)

0
1
2
3
4

In [11]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [13]:
for i in range(20,0,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [14]:
## WAP to print 1 to 50, but skip those number are diivsible by 5.

for i in range(0,51,1):
    if i%5!=0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

#  Break and Continue Function

In [3]:
av=8                                         ## This is how break function work
x=int(input("How many Candy You Want?:"))
i=1
while i<=x:
    if i>av:
        print("Out of Stock")
        break
    print("Candy", i)
    i+=1
print("Thanks!")

How many Candy You Want?:12
Candy 1
Candy 2
Candy 3
Candy 4
Candy 5
Candy 6
Candy 7
Candy 8
Out of Stock
Thanks!

In [10]:
for i in range(6):                            ## Continue
    if i==3:
        continue
    print("My World Ranjana", i)

My World Ranjana 0
My World Ranjana 1
My World Ranjana 2
My World Ranjana 4
My World Ranjana 5

In [11]:
for i in range(5):                         ## Break
    if i==3:
        break
    print("My World Ranjana", i)

My World Ranjana 0
My World Ranjana 1
My World Ranjana 2

#  Pattern

In [13]:
for i in range(4):
    for j in range(4):
        print("# ", end="")
    print()

# # # #
# # # #
# # # #
# # # #

In [14]:
for i in range(1,5):
    for j in range(i):
        print("* ",end="")
    print()

*
* *
* * *
* * * *

In [17]:
for i in range(5,0,-1):
    for j in range(i):
        print("* ",end="")
    print()

* * * * *
* * * *
* * *
* *
*

In [21]:
for i in range(1,8):
    for j in range(i):
        print("Ranjana ", end="")
    print()

Ranjana
Ranjana Ranjana
Ranjana Ranjana Ranjana
Ranjana Ranjana Ranjana Ranjana
Ranjana Ranjana Ranjana Ranjana Ranjana
Ranjana Ranjana Ranjana Ranjana Ranjana Ranjana
Ranjana Ranjana Ranjana Ranjana Ranjana Ranjana Ranjana

In [55]:
for i in range(1,5):
    for j in range(5-i):
        j=j-1
        print(i,end="")
    print()

1111
222
33
4

In [74]:
for i in range(5,0,-1):
    for j in range(i):
        j=j+1
        print(j,end='')
    print()

12345
1234
123
12
1

In [79]:
for i in range(1,6):
    for j in range(6-i):
        j=j+i
        print(j, end='')
    print()

12345
2345
345
45
5

In [80]:
for i in range(1,6):
    for j in range(6-i):
        print(j+1, end='')
    print()

12345
1234
123
12
1

In [85]:
for i in range(6):
    for j in range(i):
        print(j+1, end='')
    print()

1
12
123
1234
12345

In [22]:
for i in range(45):
    for j in range(i):
        print(j+1, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44

In [27]:
count=5
for row in range(1,11):
    for col in range(1,row+1):
        print(count, end=" ")
    print()

5
5 5
5 5 5
5 5 5 5
5 5 5 5 5
5 5 5 5 5 5
5 5 5 5 5 5 5
5 5 5 5 5 5 5 5
5 5 5 5 5 5 5 5 5
5 5 5 5 5 5 5 5 5 5

In [28]:
count=1
for row in range(1,11):
    for col in range(1,row+1):
        print(count, end=" ")
        count=count+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55

In [32]:
count=1
for row in range(1,11):
    for col in range(1,row+1):
        print('%5d'%count, end=" ")    # 5d for space
        count=count+1
    print()

    1
    2     3
    4     5     6
    7     8     9    10
   11    12    13    14    15
   16    17    18    19    20    21
   22    23    24    25    26    27    28
   29    30    31    32    33    34    35    36
   37    38    39    40    41    42    43    44    45
   46    47    48    49    50    51    52    53    54    55

In [47]:
for row in range(1,6):
    for space in range(1,6-row):
        print("*", end=" ")
    for col in range(1,row+1):
        print(col, end=" ")
    print()

* * * * 1
* * * 1 2
* * 1 2 3
* 1 2 3 4
1 2 3 4 5

In [46]:
for row in range(1,11):
    for space in range(1,11-row):
        print(" ", end=" ")
    for col in range(1,row+1):
        print(col, end=" ")
    print()

                  1
                1 2
              1 2 3
            1 2 3 4
          1 2 3 4 5
        1 2 3 4 5 6
      1 2 3 4 5 6 7
    1 2 3 4 5 6 7 8
  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [63]:
for i in range(1,31):
    for j in range(31-i):
        print(' ', end=" ")
    for k in range(1,i+1):
        print('#',end=" ")
    print()

                                                            #
                                                          # #
                                                        # # #
                                                      # # # #
                                                    # # # # #
                                                  # # # # # #
                                                # # # # # # #
                                              # # # # # # # #
                                            # # # # # # # # #
                                          # # # # # # # # # #
                                        # # # # # # # # # # #
                                      # # # # # # # # # # # #
                                    # # # # # # # # # # # # #
                                  # # # # # # # # # # # # # #
                                # # # # # # # # # # # # # # #
                              # # # # # # # # # # # # # # # #
                            # # # # # # # # # # # # # # # # #
                          # # # # # # # # # # # # # # # # # #
                        # # # # # # # # # # # # # # # # # # #
                      # # # # # # # # # # # # # # # # # # # #
                    # # # # # # # # # # # # # # # # # # # # #
                  # # # # # # # # # # # # # # # # # # # # # #
                # # # # # # # # # # # # # # # # # # # # # # #
              # # # # # # # # # # # # # # # # # # # # # # # #
            # # # # # # # # # # # # # # # # # # # # # # # # #
          # # # # # # # # # # # # # # # # # # # # # # # # # #
        # # # # # # # # # # # # # # # # # # # # # # # # # # #
      # # # # # # # # # # # # # # # # # # # # # # # # # # # #
    # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #