# List

In [1]:
l=[12,34,'My','World','Ranjana',100,66,560]        #List Declaration
l

[12, 34, 'My', 'World', 'Ranjana', 100, 66, 560]

In [2]:
l[1:]

[34, 'My', 'World', 'Ranjana', 100, 66, 560]

In [3]:
l[:]

[12, 34, 'My', 'World', 'Ranjana', 100, 66, 560]

In [4]:
s='Harishankar'                        # String Declaration
s

'Harishankar'

In [5]:
s[2:]                                  # Sting Indexing

'rishankar'

In [6]:
s[2:6]                                 #Slicing

'rish'

In [7]:
s[2:-4]

'risha'

In [8]:
s[-4:-2]

'nk'

In [9]:
s[-4:-9]

''

In [10]:
s

'Harishankar'

In [11]:
s+'hari'                         ##String Concatanation

'Harishankarhari'

In [12]:
s*6

'HarishankarHarishankarHarishankarHarishankarHarishankarHarishankar'

In [13]:
s*6

'HarishankarHarishankarHarishankarHarishankarHarishankarHarishankar'

In [14]:
s[-2:-8:-1]

'aknahs'

In [15]:
s[3::-1]

'iraH'

In [16]:
l

[12, 34, 'My', 'World', 'Ranjana', 100, 66, 560]

In [17]:
["hi"]*6

['hi', 'hi', 'hi', 'hi', 'hi', 'hi']

In [18]:
['Hello Mr Harishankar'] *5

['Hello Mr Harishankar',
 'Hello Mr Harishankar',
 'Hello Mr Harishankar',
 'Hello Mr Harishankar',
 'Hello Mr Harishankar']

In [19]:
l

[12, 34, 'My', 'World', 'Ranjana', 100, 66, 560]

In [20]:
str(l)+"hello"                   ## We Can not concatenate list and string together, So first convert List into string

"[12, 34, 'My', 'World', 'Ranjana', 100, 66, 560]hello"

In [21]:
s

'Harishankar'

In [22]:
list(s)+l                                 ## Convert Sring into list

['H',
 'a',
 'r',
 'i',
 's',
 'h',
 'a',
 'n',
 'k',
 'a',
 'r',
 12,
 34,
 'My',
 'World',
 'Ranjana',
 100,
 66,
 560]

In [23]:
l

[12, 34, 'My', 'World', 'Ranjana', 100, 66, 560]

In [24]:
34 in l

True

In [25]:
for i in l:
    print(i)

12
34
My
World
Ranjana
100
66
560

In [26]:
for i in l:
    print(i, end=',')

12,34,My,World,Ranjana,100,66,560,

In [27]:

res=[c*4 for c in 'Harry Bhardwaj']
res

['HHHH',
 'aaaa',
 'rrrr',
 'rrrr',
 'yyyy',
 '    ',
 'BBBB',
 'hhhh',
 'aaaa',
 'rrrr',
 'dddd',
 'wwww',
 'aaaa',
 'jjjj']

In [28]:
res1=[]
for c in 'RANJANA':
    res1.append(c*4)
res1

['RRRR', 'AAAA', 'NNNN', 'JJJJ', 'AAAA', 'NNNN', 'AAAA']

In [29]:
ranjana=[[1,2,3],
         [4,5,6],
         [7,8,9]]

In [30]:
ranjana

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
ranjana[1]

[4, 5, 6]

In [32]:
ranjana[1][1]

5

In [33]:
len(ranjana)

3

In [34]:
ranjana[1][0]

4

In [35]:
ranjana[2][2]

9

In [36]:
ranjana[1][0]

4

In [37]:
ranjana.sort()

In [38]:
ranjana

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]